.movie-card{
    align-items: center;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    box-shadow: 5px whitesmoke;
    /* display: flex; */
    width: 60%px;
    height: 70%;
}
/* div{
    display: flex;
    width: 350px;
    height: 500px;
} */
.Nomoviesfound{
    font-size: 1.2rem;
    color: white;
    font-family: cursive;
}